**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import os
import pandas as pd
import csv

In [2]:
# load CSV
survey_data = "Resources/2016-FCC-New-Coders-Survey-Data.csv"
survey_df = pd.read_csv(survey_data, encoding='iso-8859-1', low_memory=False)

In [3]:
# Read with pandas
survey_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
survey_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced = survey_df.iloc[:, [
    0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
reduced.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced = reduced.replace({0.0:"No",1.0:"Yes"})
#reduced["AttendedBootcamp"] = np.where(survey_df2["AttendedBootcamp"] == 0.0, "No", survey_df2["AttendedBootcamp"])
#reduced["AttendedBootcamp"] = np.where(survey_df2["AttendedBootcamp"] == 1.0, "Yes", survey_df2["AttendedBootcamp"])
reduced.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Calculate total number of respondents in survey
respondents = len(reduced.index)
respondents

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
campers = reduced.loc[reduced["AttendedBootcamp"] == "Yes", :]
campers.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [9]:
# Calculate average age of attendees
ave_age = campers["Age"].mean()
#ave_age = np.round(ave_age, decimals=2)

# Calculate how many people attended a bootcamp
camperscount = len(campers.index)

# Calculate how many attendees hold degrees
degreeholders = campers["SchoolMajor"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
camp_agender = len(campers.loc[reduced["Gender"] == "agender", :])
camp_female = len(campers.loc[reduced["Gender"] == "female", :])
camp_genqueer = len(campers.loc[reduced["Gender"] == "genderqueer", :])
camp_male = len(campers.loc[reduced["Gender"] == "male", :])
camp_trans = len(campers.loc[reduced["Gender"] == "trans", :])
camp_noncisbinary = camperscount - camp_male - camp_female
p100agenderc= camp_agender / camperscount * 100
p100femalec= camp_female / camperscount * 100
p100genqueerc= camp_genqueer / camperscount * 100
p100malec= camp_male / camperscount * 100
p100transc= camp_trans / camperscount * 100
p100noncisbinaryc = camp_noncisbinary / camperscount * 100

# Calculate percentage of respondents who attended a bootcamp
p100campresp = camperscount / respondents * 100
#p100campresp = np.round(p100campresp, decimals=2)

# Calculate percentage of respondents belonging to each gender
resp_agender = len(reduced.loc[reduced["Gender"] == "agender", :])
resp_female = len(reduced.loc[reduced["Gender"] == "female", :])
resp_genqueer = len(reduced.loc[reduced["Gender"] == "genderqueer", :])
resp_male = len(reduced.loc[reduced["Gender"] == "male", :])
resp_trans = len(reduced.loc[reduced["Gender"] == "trans", :])
p100agender = resp_agender / respondents * 100
p100female = resp_female / respondents * 100
p100genqueer = resp_genqueer / respondents * 100
p100male = resp_male / respondents * 100
p100trans = resp_trans / respondents * 100

# Calculate percentage of attendees with a school degree
p100degreecampers = degreeholders / camperscount * 100
#p100degreecampers = np.round(p100degreecampers, decimals=2)

# Calculate average post-bootcamp salary
ave_sal = campers["BootcampPostSalary"].mean()


print(f"Average age: {ave_age}")
print(f"Bootcamp attendees: {camperscount}")
print(f"Total campers w/ degrees: {degreeholders}")
print(f"agender campers: {camp_agender}")
print(f"female campers: {camp_female}")
print(f"genderqueer campers: {camp_genqueer}")
print(f"male campers: {camp_male}")
print(f"trans campers: {camp_trans}")
print(f"% non-cis-binary campers: {p100noncisbinaryc}")
print(f"% respondents to attend bootcamp: {p100campresp}")
print(f"% respondents agender: {resp_agender}")
print(f"% respondents female: {resp_female}")
print(f"% respondents genderqueer: {resp_genqueer}")
print(f"% respondents male: {resp_male}")
print(f"% respondents trans: {resp_trans}")
print(f"% campers w/ degrees: {p100degreecampers}")
print(ave_sal)

Average age: 31.066014669926652
Bootcamp attendees: 953
Total campers w/ degrees: 622
agender campers: 2
female campers: 326
genderqueer campers: 6
male campers: 496
trans campers: 3
% non-cis-binary campers: 13.746065057712487
% respondents to attend bootcamp: 6.101152368758003
% respondents agender: 38
% respondents female: 2840
% respondents genderqueer: 66
% respondents male: 10766
% respondents trans: 36
% campers w/ degrees: 65.26757607555089
63740.50606060606

In [10]:
# Create a new table consolodating above calculations
sum_table = pd.DataFrame({"Respondents (total)":[respondents],
                         "Respondents Attended Bootcamp (total)":[camperscount],
                         "Respondents AND Campers (%)":[p100campresp],
                         "Average Age of Campers (years)":[ave_age], 
                         "Campers w/ Degree (total)":[degreeholders],
                         "Campers w/ Degree (%)":[p100degreecampers], 
                          "Average Salary Post-Bootcamp":[ave_sal], 
#                          "Agender Respondents (total)":[resp_agender], 
#                          "Agender Respondents (%)":[p100agender], 
#                         "Agender Campers (total)":[camp_agender], 
#                         "Agender Campers (%)":[p100agenderc], 
#                         "Female Respondents (total)":[resp_female], 
#                         "Female Respondents (%)":[p100female], 
#                         "Female Campers (total)":[camp_female], 
                         "Female Campers (%)":[p100femalec], 
#                         "Genderqueer Respondents (total)":[resp_genqueer], 
#                         "Genderqueer Respondents (%)":[p100genqueer], 
#                         "Genderqueer Campers (total)":[camp_genqueer], 
#                         "Genderqueer Campers (%)":[p100genqueerc], 
#                         "Male Respondents (total)":[resp_male], 
#                         "Male Respondents (%)":[p100male], 
#                         "Male Campers (total)":[camp_male], 
                         "Male Campers (%)":[p100malec],
                          "Non-cis-binqary Campers (%)":[p100noncisbinaryc]})
#                         "Trans Respondents (total)":[resp_trans], 
#                         "Trans Respondents (%)":[p100trans], 
#                         "Trans Campers (total)":[camp_trans], 
#                         "Trans Campers (%)":[p100transc]})
                            
                          
sum_table

,Respondents (total),Respondents Attended Bootcamp (total),Respondents AND Campers (%),Average Age of Campers (years),Campers w/ Degree (total),Campers w/ Degree (%),Average Salary Post-Bootcamp,Female Campers (%),Male Campers (%),Non-cis-binqary Campers (%)
0,15620,953,6.101152,31.066015,622,65.267576,63740.506061,34.207765,52.04617,13.746065

In [11]:
# Improve formatting before outputting spreadsheet
#percent_cols = ["Respondents AND Campers (%)", 
#                "Campers w/ Degree (%)", 
#                "Agender Respondents (%)", 
 #               "Agender Campers (%)", 
  #              "Female Respondents (%)", 
   #             "Female Campers (%)", 
    #            "Genderqueer Respondents (%)", 
     #          "Genderqueer Campers (%)", 
      #         "Male Respondents (%)", 
       #        "Male Campers (%)", 
        #       "Trans Respondents (%)", 
         #      "Trans Campers (%)"]
#sum_table[percent_cols] = sum_table[percent_cols].applymap("{:,2f}".format)
sum_table["Respondents AND Campers (%)"] = sum_table["Respondents AND Campers (%)"].map("{:.2f}".format)
sum_table["Average Age of Campers (years)"] = sum_table["Average Age of Campers (years)"].map("{:,.0f}".format)
sum_table["Campers w/ Degree (%)"] = sum_table["Campers w/ Degree (%)"].map("{:,.2f}".format)
sum_table["Average Salary Post-Bootcamp"] = sum_table["Average Salary Post-Bootcamp"].map("${:,.2f}".format)
#sum_table["Agender Respondents (%)"] = sum_table["Agender Respondents (%)"].map("{:,.2f}".format)
#sum_table["Agender Campers (%)"] = sum_table["Agender Campers (%)"].map("{:,.2f}".format)
#sum_table["Female Respondents (%)"] = sum_table["Female Respondents (%)"].map("{:,.2f}".format)
sum_table["Female Campers (%)"] = sum_table["Female Campers (%)"].map("{:,.2f}".format)
#sum_table["Genderqueer Respondents (%)"] = sum_table["Genderqueer Respondents (%)"].map("{:,.2f}".format)
#sum_table["Genderqueer Campers (%)"] = sum_table["Genderqueer Campers (%)"].map("{:,.2f}".format)
#sum_table["Male Respondents (%)"] = sum_table["Male Respondents (%)"].map("{:,.2f}".format)
sum_table["Male Campers (%)"] = sum_table["Male Campers (%)"].map("{:,.2f}".format)
#sum_table["Trans Respondents (%)"] = sum_table["Trans Respondents (%)"].map("{:,.2f}".format)
#sum_table["Trans Campers (%)"] = sum_table["Trans Campers (%)"].map("{:,.2f}".format)
sum_table["Non-cis-binqary Campers (%)"] = sum_table["Non-cis-binqary Campers (%)"].map("{:,.2f}".format)

sum_table

,Respondents (total),Respondents Attended Bootcamp (total),Respondents AND Campers (%),Average Age of Campers (years),Campers w/ Degree (total),Campers w/ Degree (%),Average Salary Post-Bootcamp,Female Campers (%),Male Campers (%),Non-cis-binqary Campers (%)
0,15620,953,6.10,31,622,65.27,"$63,740.51",34.21,52.05,13.75

In [12]:
# Export to Excel
sum_table.to_excel("output/Part-1_Task-A_output.xlsx", index=False)