**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [2]:
# Dependencies
import pandas as pd
import os
import csv

In [5]:
# load CSV
file= os.path.join("Resources/2016-FCC-New-Coders-Survey-Data.csv")

In [6]:
# Read with pandas
new_coders_df=pd.read_csv(file, encoding='iso-8859-1', low_memory=False)

In [7]:
# Inspect all columns
new_coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [8]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_coders_df=new_coders_df.iloc[:,[0,1,2,3,4,7,8,9,10,11,29,30,32,36,37,45,48,56,110,111]]
reduced_coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [9]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_coders_df= reduced_coders_df.replace({0.0:"No",1.0:"Yes"})
reduced_coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [10]:
# Calculate total number of respondents in survey
total_surveyed=len(reduced_coders_df)
total_surveyed

15620

In [11]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp=reduced_coders_df.loc[reduced_coders_df["AttendedBootcamp"]=="Yes"]

In [12]:
# Calculate average age of attendees

average_age=attended_bootcamp["Age"].mean()


# Calculate how many people attended a bootcamp
number_of_attendees=attended_bootcamp["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees

holds_degree=attended_bootcamp["SchoolDegree"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender=attended_bootcamp["Gender"].count()
male=attended_bootcamp["Gender"].value_counts()['male']
female=attended_bootcamp["Gender"].value_counts()['female']
non_specific= total_gender-male-female

# Calculate percentage of respondents who attended a bootcamp

attended_bootcamp_percentage=(number_of_attendees/total_surveyed)*100

# Calculate percentage of respondents belonging to each gender
male_percent=(male/total_surveyed)*100
female_percent=(female/total_surveyed)*100
non_specific_percent=(non_specific/total_surveyed)*100

# Calculate percentage of attendees with a school degree

holds_degree_percent=(holds_degree/number_of_attendees)*100

# Calculate average post-bootcamp salary
avg_salary=attended_bootcamp["BootcampPostSalary"].mean()

In [13]:
# Create a new table consolodating above calculations
summary_table=pd.DataFrame({"Total Surveyed":[total_surveyed],
                                           "Total Bootcamp Attendees":[number_of_attendees],
                                           "Percent Attended a Bootcamp":[attended_bootcamp_percentage],
                                           "Average Age":[average_age],
                                           "% Male":[male_percent],
                                           "% Female":[female_percent],
                                           "% Non Gender Specific":[non_specific_percent],
                                           "% with a degree":[holds_degree_percent],
                                           "Average Post Bootcamp Salary":[avg_salary]})

summary_table=summary_table[["Total Surveyed", "Total Bootcamp Attendees", "Average Age", "% Male", "% Female", "% Non Gender Specific","% with a degree","Average Post Bootcamp Salary"]]
summary_table=summary_table.round(2)
summary_table

,Total Surveyed,Total Bootcamp Attendees,Average Age,% Male,% Female,% Non Gender Specific,% with a degree,Average Post Bootcamp Salary
0,15620,953,31.07,3.18,2.09,0.07,87.3,63740.51

In [14]:
# Improve formatting before outputting spreadsheet

summary_table["% Male"]=summary_table["% Male"].map("{0:,.2f}%".format)
summary_table["% Female"]=summary_table["% Female"].map("{0:,.2f}%".format)
summary_table["Percent Attended a Bootcamp"] = summary_table["Percent Attended a Bootcamp"].map("{0:,.2f}%".format)
summary_table["% Non Gender Specific"] = summary_table["% Non Gender Specific"].map("{0:,.2f}%".format)
summary_table["% with a degree"]= summary_table["% with a degree"].map("{0:,.2f}%".format)
summary_table["Average Post Bootcamp Salary"]= summary_table["Average Post Bootcamp Salary"].map("${0:,0f}".format)
summary_table

KeyError: 'Percent Attended a Bootcamp'

In [ ]:
# Export to Excel

summary_table.to_excel("bootcamppart1.xlsx", index=False)